@using BookShop.Domain.Model;
@using BookShop.Domain.Model.DTO;
@model DisplayModelBooks
@{

}

<div class="my-2 ">
    <form asp-action="IndexPL" class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-12">
            <label class="visually-hidden" for="genreId">Preference</label>
            <select class="form-select" id="genreId" name="genreId">
                
      <option selected>Kategoria...</option>
                @foreach (var genre in Model.Genres)
                {
                    <option selected="@Model.GenreId == @genre.Id" value="@genre.Id">@genre.GenreName</option>
                }
    </select>
  </div>

    <div class="col-12">
            <label class="visually-hidden" for=sterm"">Szukaj po tytule...</label>
    <div class="input-group">
      <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Szukaj po tytule...">
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Szukaj</button>
  </div>
</form>
</div>


<div class="w-100 d-flex flex-wrap">
@foreach(var book in Model.Books)
{
<div class="card mx-1 mb-4" style="width: 16rem;">
    @if(string.IsNullOrEmpty(book.Image))
            {
                <img src="https://picsum.photos/200" class="card-img-top" alt="...">
            }
            else
            {
                <img src="https://picsum.photos/200" class="card-img-top" alt="...">
            }
           
  <div class="card-body">
    <h5 class="card-title">@book.BookName</h5>
   <p class="card-text">
                    <div><b>Gatunek:</b>  @book.GenreName</div>
                    <div><b>Autor: </b> @book.AutorName</div>
                    <div>
                        <b>Cena:</b> @book.Price zł
                    </div>
    </p>
    <button type="button" onclick="add(@book.Id)" href="#" class="btn btn-primary">Add to card</button>
  </div>
</div>
}
</div>
 
@section Scripts{
    <script>
        loudCartCount();
       async function loudCartCount(){
           console.log("Druty");
            try {
                var response = await fetch($'/Cart/GetTotalItemInCart)
                if (response.status==200)
                {
                var result = await response.json()
                var cartCountEl = document.getElementById("cartCount");
                cartCountEl.innerHTML = result;
                }
            }
            catch(err){
                console.log(err)
            }
        }
    </script>
}